:root {
    --primary-nitro-blue: #5BACC3;
    --primary-nitro-pink: #FFF0ED;
    --neutral-graphite: #393939;
    --neutral-light-gray: #F7F7F7;
    --neutral-white: #FFF;
    --neutral-black: #000;
}